* text=auto !eol
branches/clouds_hopping_bug_1870410/src/Bombermaaan/Bombermaaan.dsp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/Bombermaaan.rc -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/Bombermaaan.vcproj -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiArena.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiArena.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiBomber.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiBomber.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiManager.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CAiManager.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArena.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArena.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArenaCloser.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArenaCloser.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArenaSnapshot.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CArenaSnapshot.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBoard.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBoard.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomb.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomb.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomber.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomber.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomberMove.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CBomberMove.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CClock.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CClock.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CCloudManager.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CCloudManager.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CCommandChunk.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CCommandChunk.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CConsole.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CConsole.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CControls.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CControls.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDebug.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDebug.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDemo.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDemo.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDirectDraw.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDirectDraw.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDirectInput.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDirectInput.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDisplay.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDisplay.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDrawGame.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CDrawGame.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CElement.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CElement.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CExplosion.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CExplosion.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CFloor.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CFloor.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CFont.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CFont.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CGame.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CGame.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CHurryMessage.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CHurryMessage.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CInput.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CInput.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CItem.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CItem.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CLog.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CLog.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMainInput.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMainInput.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMatch.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMatch.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenu.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenu.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuBase.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuBase.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuBomber.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuBomber.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuInput.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuInput.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuLevel.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuLevel.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuMatch.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuMatch.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuYesNo.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMenuYesNo.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CModeScreen.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CModeScreen.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMosaic.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CMosaic.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/COptions.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/COptions.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CPauseMessage.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CPauseMessage.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CPlayerInput.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CPlayerInput.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CRandomMosaic.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CRandomMosaic.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CScores.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CScores.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CScroller.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CScroller.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CSound.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CSound.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CTimer.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CTitle.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CTitle.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CVictory.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CVictory.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWall.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWall.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWindow.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWindow.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWinner.cpp -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/CWinner.h -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/RESOURCE.H -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/STDAFX.CPP -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/STDAFX.H -text
branches/clouds_hopping_bug_1870410/src/Bombermaaan/WinMain.cpp -text
trunk/COPYING.txt -text
trunk/docs/Level_File_Layout_Version2.html -text
trunk/docs/Readme.html -text
trunk/docs/how-to-compile.txt -text
trunk/images/Bombermaaan_Icon.png -text
trunk/images/Bombermaaan_Icon.svg -text
trunk/images/Convert_all_svg2png.cmd -text
trunk/images/Convert_svg2png.cmd -text
trunk/images/Title.bmp -text
trunk/images/Title.png -text
trunk/images/Title.svg -text
trunk/images/blocksize_32/Convert_svg2png2bmp.cmd -text
trunk/images/blocksize_32/_generated/background-title.bmp -text
trunk/images/blocksize_32/_generated/background-title.png -text
trunk/images/blocksize_32/backgrounds/background-title.svg -text
trunk/images/blocksize_32/bombers/arena_bomber_death_sprite0.xcf -text
trunk/images/blocksize_32/bombers/arena_bomber_death_sprite1.xcf -text
trunk/images/blocksize_32/bombers/arena_bomber_death_sprite2.xcf -text
trunk/images/blocksize_32/items/Item_Bomb.svg -text
trunk/images/blocksize_32/items/Item_Flame.svg -text
trunk/images/blocksize_32/items/Item_Kick.svg -text
trunk/images/blocksize_32/items/Item_Punch.svg -text
trunk/images/blocksize_32/items/Item_Roller.svg -text
trunk/images/blocksize_32/items/Item_Skull.svg -text
trunk/images/blocksize_32/items/Item_Throw.svg -text
trunk/images/blocksize_32/patterns/analyze-32.php -text
trunk/images/blocksize_32/patterns/item-0.png -text
trunk/images/blocksize_32/patterns/item-1.png -text
trunk/images/blocksize_32/patterns/item-2.png -text
trunk/images/blocksize_32/patterns/item-3.png -text
trunk/images/blocksize_32/patterns/item-4.png -text
trunk/images/blocksize_32/patterns/item-5.png -text
trunk/images/blocksize_32/patterns/item-6.png -text
trunk/images/blocksize_32/patterns/stunt-back-32.png -text
trunk/images/blocksize_32/patterns/stunt-front-32.png -text
trunk/images/blocksize_32/patterns/stunt-side-32.png -text
trunk/images/blocksize_32/patterns/transform_png-color-32.php -text
trunk/images/blocksize_32/patterns/transform_stunt-32.php -text
trunk/images/gimp-scripts/bm-color-bombers.scm -text
trunk/installer/HeaderImage.bmp -text
trunk/installer/HeaderImage.xcf -text
trunk/installer/InstallScript.nsi -text
trunk/src/Bombermaaan.dsw -text
trunk/src/Bombermaaan.sln -text
trunk/src/Bombermaaan/Bombermaaan.dsp -text
trunk/src/Bombermaaan/Bombermaaan.rc -text
trunk/src/Bombermaaan/Bombermaaan.vcproj -text
trunk/src/Bombermaaan/CAiArena.cpp -text
trunk/src/Bombermaaan/CAiArena.h -text
trunk/src/Bombermaaan/CAiBomber.cpp -text
trunk/src/Bombermaaan/CAiBomber.h -text
trunk/src/Bombermaaan/CAiManager.cpp -text
trunk/src/Bombermaaan/CAiManager.h -text
trunk/src/Bombermaaan/CArena.cpp -text
trunk/src/Bombermaaan/CArena.h -text
trunk/src/Bombermaaan/CArenaCloser.cpp -text
trunk/src/Bombermaaan/CArenaCloser.h -text
trunk/src/Bombermaaan/CArenaSnapshot.cpp -text
trunk/src/Bombermaaan/CArenaSnapshot.h -text
trunk/src/Bombermaaan/CBoard.cpp -text
trunk/src/Bombermaaan/CBoard.h -text
trunk/src/Bombermaaan/CBomb.cpp -text
trunk/src/Bombermaaan/CBomb.h -text
trunk/src/Bombermaaan/CBomber.cpp -text
trunk/src/Bombermaaan/CBomber.h -text
trunk/src/Bombermaaan/CBomberMove.cpp -text
trunk/src/Bombermaaan/CBomberMove.h -text
trunk/src/Bombermaaan/CClock.cpp -text
trunk/src/Bombermaaan/CClock.h -text
trunk/src/Bombermaaan/CCloudManager.cpp -text
trunk/src/Bombermaaan/CCloudManager.h -text
trunk/src/Bombermaaan/CCommandChunk.cpp -text
trunk/src/Bombermaaan/CCommandChunk.h -text
trunk/src/Bombermaaan/CConsole.cpp -text
trunk/src/Bombermaaan/CConsole.h -text
trunk/src/Bombermaaan/CControls.cpp -text
trunk/src/Bombermaaan/CControls.h -text
trunk/src/Bombermaaan/CDebug.cpp -text
trunk/src/Bombermaaan/CDebug.h -text
trunk/src/Bombermaaan/CDemo.cpp -text
trunk/src/Bombermaaan/CDemo.h -text
trunk/src/Bombermaaan/CDirectDraw.cpp -text
trunk/src/Bombermaaan/CDirectDraw.h -text
trunk/src/Bombermaaan/CDirectInput.cpp -text
trunk/src/Bombermaaan/CDirectInput.h -text
trunk/src/Bombermaaan/CDisplay.cpp -text
trunk/src/Bombermaaan/CDisplay.h -text
trunk/src/Bombermaaan/CDrawGame.cpp -text
trunk/src/Bombermaaan/CDrawGame.h -text
trunk/src/Bombermaaan/CElement.cpp -text
trunk/src/Bombermaaan/CElement.h -text
trunk/src/Bombermaaan/CExplosion.cpp -text
trunk/src/Bombermaaan/CExplosion.h -text
trunk/src/Bombermaaan/CFloor.cpp -text
trunk/src/Bombermaaan/CFloor.h -text
trunk/src/Bombermaaan/CFont.cpp -text
trunk/src/Bombermaaan/CFont.h -text
trunk/src/Bombermaaan/CGame.cpp -text
trunk/src/Bombermaaan/CGame.h -text
trunk/src/Bombermaaan/CHurryMessage.cpp -text
trunk/src/Bombermaaan/CHurryMessage.h -text
trunk/src/Bombermaaan/CInput.cpp -text
trunk/src/Bombermaaan/CInput.h -text
trunk/src/Bombermaaan/CItem.cpp -text
trunk/src/Bombermaaan/CItem.h -text
trunk/src/Bombermaaan/CLog.cpp -text
trunk/src/Bombermaaan/CLog.h -text
trunk/src/Bombermaaan/CMainInput.cpp -text
trunk/src/Bombermaaan/CMainInput.h -text
trunk/src/Bombermaaan/CMatch.cpp -text
trunk/src/Bombermaaan/CMatch.h -text
trunk/src/Bombermaaan/CMenu.cpp -text
trunk/src/Bombermaaan/CMenu.h -text
trunk/src/Bombermaaan/CMenuBase.cpp -text
trunk/src/Bombermaaan/CMenuBase.h -text
trunk/src/Bombermaaan/CMenuBomber.cpp -text
trunk/src/Bombermaaan/CMenuBomber.h -text
trunk/src/Bombermaaan/CMenuInput.cpp -text
trunk/src/Bombermaaan/CMenuInput.h -text
trunk/src/Bombermaaan/CMenuLevel.cpp -text
trunk/src/Bombermaaan/CMenuLevel.h -text
trunk/src/Bombermaaan/CMenuMatch.cpp -text
trunk/src/Bombermaaan/CMenuMatch.h -text
trunk/src/Bombermaaan/CMenuYesNo.cpp -text
trunk/src/Bombermaaan/CMenuYesNo.h -text
trunk/src/Bombermaaan/CModeScreen.cpp -text
trunk/src/Bombermaaan/CModeScreen.h -text
trunk/src/Bombermaaan/CMosaic.cpp -text
trunk/src/Bombermaaan/CMosaic.h -text
trunk/src/Bombermaaan/COptions.cpp -text
trunk/src/Bombermaaan/COptions.h -text
trunk/src/Bombermaaan/CPauseMessage.cpp -text
trunk/src/Bombermaaan/CPauseMessage.h -text
trunk/src/Bombermaaan/CPlayerInput.cpp -text
trunk/src/Bombermaaan/CPlayerInput.h -text
trunk/src/Bombermaaan/CRandomMosaic.cpp -text
trunk/src/Bombermaaan/CRandomMosaic.h -text
trunk/src/Bombermaaan/CScores.cpp -text
trunk/src/Bombermaaan/CScores.h -text
trunk/src/Bombermaaan/CScroller.cpp -text
trunk/src/Bombermaaan/CScroller.h -text
trunk/src/Bombermaaan/CSound.cpp -text
trunk/src/Bombermaaan/CSound.h -text
trunk/src/Bombermaaan/CTimer.h -text
trunk/src/Bombermaaan/CTitle.cpp -text
trunk/src/Bombermaaan/CTitle.h -text
trunk/src/Bombermaaan/CVictory.cpp -text
trunk/src/Bombermaaan/CVictory.h -text
trunk/src/Bombermaaan/CWall.cpp -text
trunk/src/Bombermaaan/CWall.h -text
trunk/src/Bombermaaan/CWindow.cpp -text
trunk/src/Bombermaaan/CWindow.h -text
trunk/src/Bombermaaan/CWinner.cpp -text
trunk/src/Bombermaaan/CWinner.h -text
trunk/src/Bombermaaan/RESOURCE.H -text
trunk/src/Bombermaaan/STDAFX.CPP -text
trunk/src/Bombermaaan/STDAFX.H -text
trunk/src/Bombermaaan/WinMain.cpp -text
trunk/src/RES/RES.CPP -text
trunk/src/RES/RES.dsp -text
trunk/src/RES/RES.vcproj -text
trunk/src/RES/StdAfx.cpp -text
trunk/src/RES/StdAfx.h -text
trunk/src/RES/resource.h -text
trunk/src/RES/resource.rc -text
trunk/src/RES32/IMAGE/arena_fire.bmp -text
trunk/src/RES32/IMAGE/arena_floor.bmp -text
trunk/src/RES32/IMAGE/arena_fly.bmp -text
trunk/src/RES32/IMAGE/arena_hurry.bmp -text
trunk/src/RES32/IMAGE/arena_hurry.xcf -text
trunk/src/RES32/IMAGE/arena_item_0-bomb.xcf -text
trunk/src/RES32/IMAGE/arena_item_template.xcf -text
trunk/src/RES32/IMAGE/arena_pause.bmp -text
trunk/src/RES32/IMAGE/arena_pause.xcf -text
trunk/src/RES32/IMAGE/board_background.bmp -text
trunk/src/RES32/IMAGE/title_background.bmp -text
trunk/src/RES32/IMAGE/title_title.bmp -text
trunk/src/RES32/RES.CPP -text
trunk/src/RES32/RES32.dsp -text
trunk/src/RES32/RES32.vcproj -text
trunk/src/RES32/StdAfx.cpp -text
trunk/src/RES32/StdAfx.h -text
trunk/src/RES32/resource.h -text
trunk/src/RES32/resource.rc -text
trunk/src/_Test_/Debug/Levels/L1.TXT -text
trunk/src/_Test_/Debug/Levels/L2.TXT -text
trunk/src/_Test_/Debug/Levels/L3.TXT -text
trunk/src/_Test_/Debug/Levels/L4.TXT -text
trunk/src/_Test_/Debug/Levels/L5.TXT -text
trunk/src/_Test_/Debug/Levels/L6.TXT -text
trunk/src/_Test_/Release/Levels/L1.TXT -text
trunk/src/_Test_/Release/Levels/L2.TXT -text
trunk/src/_Test_/Release/Levels/L3.TXT -text
trunk/src/_Test_/Release/Levels/L4.TXT -text
trunk/src/_Test_/Release/Levels/L5.TXT -text
trunk/src/_Test_/Release/Levels/L6.TXT -text
trunk/web/changelog.php -text
trunk/web/contact.php -text
trunk/web/css.php -text
trunk/web/development.php -text
trunk/web/download.php -text
trunk/web/faq.php -text
trunk/web/features.php -text
trunk/web/images/bomber_a.png -text
trunk/web/images/feed-icon-14x14.png -text
trunk/web/images/title.png -text
trunk/web/inc/webpage.php -text
trunk/web/index.php -text
trunk/web/license.php -text
trunk/web/screenshots.php -text
trunk/web/standard.css -text
trunk/web/todo.php -text
