* text=auto !eol
branches/blocksize_32pixels/Bombermaaan.dsw -text
branches/blocksize_32pixels/Bombermaaan.sln -text
branches/blocksize_32pixels/Bombermaaan/Bombermaaan.dsp -text
branches/blocksize_32pixels/Bombermaaan/Bombermaaan.rc -text
branches/blocksize_32pixels/Bombermaaan/Bombermaaan.vcproj -text
branches/blocksize_32pixels/Bombermaaan/CAiArena.cpp -text
branches/blocksize_32pixels/Bombermaaan/CAiArena.h -text
branches/blocksize_32pixels/Bombermaaan/CAiBomber.cpp -text
branches/blocksize_32pixels/Bombermaaan/CAiBomber.h -text
branches/blocksize_32pixels/Bombermaaan/CAiManager.cpp -text
branches/blocksize_32pixels/Bombermaaan/CAiManager.h -text
branches/blocksize_32pixels/Bombermaaan/CArena.cpp -text
branches/blocksize_32pixels/Bombermaaan/CArena.h -text
branches/blocksize_32pixels/Bombermaaan/CArenaCloser.cpp -text
branches/blocksize_32pixels/Bombermaaan/CArenaCloser.h -text
branches/blocksize_32pixels/Bombermaaan/CArenaSnapshot.cpp -text
branches/blocksize_32pixels/Bombermaaan/CArenaSnapshot.h -text
branches/blocksize_32pixels/Bombermaaan/CBoard.cpp -text
branches/blocksize_32pixels/Bombermaaan/CBoard.h -text
branches/blocksize_32pixels/Bombermaaan/CBomb.cpp -text
branches/blocksize_32pixels/Bombermaaan/CBomb.h -text
branches/blocksize_32pixels/Bombermaaan/CBomber.cpp -text
branches/blocksize_32pixels/Bombermaaan/CBomber.h -text
branches/blocksize_32pixels/Bombermaaan/CBomberMove.cpp -text
branches/blocksize_32pixels/Bombermaaan/CBomberMove.h -text
branches/blocksize_32pixels/Bombermaaan/CClock.cpp -text
branches/blocksize_32pixels/Bombermaaan/CClock.h -text
branches/blocksize_32pixels/Bombermaaan/CCloudManager.cpp -text
branches/blocksize_32pixels/Bombermaaan/CCloudManager.h -text
branches/blocksize_32pixels/Bombermaaan/CCommandChunk.cpp -text
branches/blocksize_32pixels/Bombermaaan/CCommandChunk.h -text
branches/blocksize_32pixels/Bombermaaan/CConsole.cpp -text
branches/blocksize_32pixels/Bombermaaan/CConsole.h -text
branches/blocksize_32pixels/Bombermaaan/CControls.cpp -text
branches/blocksize_32pixels/Bombermaaan/CControls.h -text
branches/blocksize_32pixels/Bombermaaan/CDebug.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDebug.h -text
branches/blocksize_32pixels/Bombermaaan/CDemo.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDemo.h -text
branches/blocksize_32pixels/Bombermaaan/CDirectDraw.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDirectDraw.h -text
branches/blocksize_32pixels/Bombermaaan/CDirectInput.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDirectInput.h -text
branches/blocksize_32pixels/Bombermaaan/CDisplay.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDisplay.h -text
branches/blocksize_32pixels/Bombermaaan/CDrawGame.cpp -text
branches/blocksize_32pixels/Bombermaaan/CDrawGame.h -text
branches/blocksize_32pixels/Bombermaaan/CElement.cpp -text
branches/blocksize_32pixels/Bombermaaan/CElement.h -text
branches/blocksize_32pixels/Bombermaaan/CExplosion.cpp -text
branches/blocksize_32pixels/Bombermaaan/CExplosion.h -text
branches/blocksize_32pixels/Bombermaaan/CFloor.cpp -text
branches/blocksize_32pixels/Bombermaaan/CFloor.h -text
branches/blocksize_32pixels/Bombermaaan/CFont.cpp -text
branches/blocksize_32pixels/Bombermaaan/CFont.h -text
branches/blocksize_32pixels/Bombermaaan/CGame.cpp -text
branches/blocksize_32pixels/Bombermaaan/CGame.h -text
branches/blocksize_32pixels/Bombermaaan/CHurryMessage.cpp -text
branches/blocksize_32pixels/Bombermaaan/CHurryMessage.h -text
branches/blocksize_32pixels/Bombermaaan/CInput.cpp -text
branches/blocksize_32pixels/Bombermaaan/CInput.h -text
branches/blocksize_32pixels/Bombermaaan/CItem.cpp -text
branches/blocksize_32pixels/Bombermaaan/CItem.h -text
branches/blocksize_32pixels/Bombermaaan/CLog.cpp -text
branches/blocksize_32pixels/Bombermaaan/CLog.h -text
branches/blocksize_32pixels/Bombermaaan/CMainInput.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMainInput.h -text
branches/blocksize_32pixels/Bombermaaan/CMatch.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMatch.h -text
branches/blocksize_32pixels/Bombermaaan/CMenu.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenu.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuBase.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuBase.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuBomber.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuBomber.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuInput.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuInput.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuLevel.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuLevel.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuMatch.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuMatch.h -text
branches/blocksize_32pixels/Bombermaaan/CMenuYesNo.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMenuYesNo.h -text
branches/blocksize_32pixels/Bombermaaan/CModeScreen.cpp -text
branches/blocksize_32pixels/Bombermaaan/CModeScreen.h -text
branches/blocksize_32pixels/Bombermaaan/CMosaic.cpp -text
branches/blocksize_32pixels/Bombermaaan/CMosaic.h -text
branches/blocksize_32pixels/Bombermaaan/COptions.cpp -text
branches/blocksize_32pixels/Bombermaaan/COptions.h -text
branches/blocksize_32pixels/Bombermaaan/CPauseMessage.cpp -text
branches/blocksize_32pixels/Bombermaaan/CPauseMessage.h -text
branches/blocksize_32pixels/Bombermaaan/CPlayerInput.cpp -text
branches/blocksize_32pixels/Bombermaaan/CPlayerInput.h -text
branches/blocksize_32pixels/Bombermaaan/CRandomMosaic.cpp -text
branches/blocksize_32pixels/Bombermaaan/CRandomMosaic.h -text
branches/blocksize_32pixels/Bombermaaan/CScores.cpp -text
branches/blocksize_32pixels/Bombermaaan/CScores.h -text
branches/blocksize_32pixels/Bombermaaan/CScroller.cpp -text
branches/blocksize_32pixels/Bombermaaan/CScroller.h -text
branches/blocksize_32pixels/Bombermaaan/CSound.cpp -text
branches/blocksize_32pixels/Bombermaaan/CSound.h -text
branches/blocksize_32pixels/Bombermaaan/CTimer.h -text
branches/blocksize_32pixels/Bombermaaan/CTitle.cpp -text
branches/blocksize_32pixels/Bombermaaan/CTitle.h -text
branches/blocksize_32pixels/Bombermaaan/CVictory.cpp -text
branches/blocksize_32pixels/Bombermaaan/CVictory.h -text
branches/blocksize_32pixels/Bombermaaan/CWall.cpp -text
branches/blocksize_32pixels/Bombermaaan/CWall.h -text
branches/blocksize_32pixels/Bombermaaan/CWindow.cpp -text
branches/blocksize_32pixels/Bombermaaan/CWindow.h -text
branches/blocksize_32pixels/Bombermaaan/CWinner.cpp -text
branches/blocksize_32pixels/Bombermaaan/CWinner.h -text
branches/blocksize_32pixels/Bombermaaan/RESOURCE.H -text
branches/blocksize_32pixels/Bombermaaan/STDAFX.CPP -text
branches/blocksize_32pixels/Bombermaaan/STDAFX.H -text
branches/blocksize_32pixels/Bombermaaan/WinMain.cpp -text
branches/blocksize_32pixels/RES/RES.dsp -text
branches/blocksize_32pixels/RES/RES.vcproj -text
branches/bomber_skills_on_startup_1847048/Bombermaaan.dsw -text
branches/bomber_skills_on_startup_1847048/Bombermaaan.sln -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/Bombermaaan.dsp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/Bombermaaan.rc -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/Bombermaaan.vcproj -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiArena.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiArena.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiBomber.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiBomber.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiManager.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CAiManager.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArena.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArena.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArenaCloser.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArenaCloser.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArenaSnapshot.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CArenaSnapshot.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBoard.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBoard.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomb.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomb.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomber.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomber.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomberMove.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CBomberMove.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CClock.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CClock.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CCloudManager.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CCloudManager.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CCommandChunk.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CCommandChunk.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CConsole.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CConsole.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CControls.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CControls.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDebug.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDebug.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDemo.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDemo.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDirectDraw.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDirectDraw.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDirectInput.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDirectInput.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDisplay.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDisplay.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDrawGame.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CDrawGame.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CElement.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CElement.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CExplosion.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CExplosion.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CFloor.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CFloor.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CFont.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CFont.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CGame.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CGame.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CHurryMessage.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CHurryMessage.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CInput.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CInput.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CItem.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CItem.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CLog.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CLog.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMainInput.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMainInput.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMatch.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMatch.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenu.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenu.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuBase.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuBase.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuBomber.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuBomber.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuInput.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuInput.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuLevel.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuLevel.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuMatch.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuMatch.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuYesNo.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMenuYesNo.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CModeScreen.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CModeScreen.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMosaic.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CMosaic.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/COptions.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/COptions.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CPauseMessage.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CPauseMessage.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CPlayerInput.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CPlayerInput.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CRandomMosaic.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CRandomMosaic.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CScores.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CScores.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CScroller.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CScroller.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CSound.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CSound.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CTimer.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CTitle.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CTitle.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CVictory.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CVictory.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWall.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWall.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWindow.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWindow.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWinner.cpp -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/CWinner.h -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/RESOURCE.H -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/STDAFX.CPP -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/STDAFX.H -text
branches/bomber_skills_on_startup_1847048/Bombermaaan/WinMain.cpp -text
branches/bomber_skills_on_startup_1847048/RES/RES.dsp -text
branches/bomber_skills_on_startup_1847048/RES/RES.vcproj -text
branches/item_amount_per_level_1847047/Bombermaaan.dsw -text
branches/item_amount_per_level_1847047/Bombermaaan.sln -text
branches/item_amount_per_level_1847047/Bombermaaan/Bombermaaan.dsp -text
branches/item_amount_per_level_1847047/Bombermaaan/Bombermaaan.rc -text
branches/item_amount_per_level_1847047/Bombermaaan/Bombermaaan.vcproj -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiArena.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiArena.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiBomber.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiBomber.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiManager.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CAiManager.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CArena.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CArena.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CArenaCloser.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CArenaCloser.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CArenaSnapshot.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CArenaSnapshot.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CBoard.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CBoard.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomb.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomb.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomber.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomber.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomberMove.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CBomberMove.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CClock.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CClock.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CCloudManager.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CCloudManager.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CCommandChunk.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CCommandChunk.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CConsole.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CConsole.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CControls.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CControls.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDebug.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDebug.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDemo.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDemo.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDirectDraw.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDirectDraw.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDirectInput.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDirectInput.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDisplay.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDisplay.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CDrawGame.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CDrawGame.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CElement.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CElement.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CExplosion.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CExplosion.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CFloor.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CFloor.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CFont.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CFont.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CGame.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CGame.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CHurryMessage.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CHurryMessage.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CInput.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CInput.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CItem.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CItem.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CLog.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CLog.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMainInput.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMainInput.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMatch.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMatch.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenu.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenu.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuBase.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuBase.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuBomber.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuBomber.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuInput.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuInput.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuLevel.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuLevel.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuMatch.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuMatch.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuYesNo.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMenuYesNo.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CModeScreen.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CModeScreen.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CMosaic.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CMosaic.h -text
branches/item_amount_per_level_1847047/Bombermaaan/COptions.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/COptions.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CPauseMessage.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CPauseMessage.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CPlayerInput.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CPlayerInput.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CRandomMosaic.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CRandomMosaic.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CScores.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CScores.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CScroller.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CScroller.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CSound.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CSound.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CTimer.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CTitle.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CTitle.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CVictory.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CVictory.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CWall.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CWall.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CWindow.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CWindow.h -text
branches/item_amount_per_level_1847047/Bombermaaan/CWinner.cpp -text
branches/item_amount_per_level_1847047/Bombermaaan/CWinner.h -text
branches/item_amount_per_level_1847047/Bombermaaan/RESOURCE.H -text
branches/item_amount_per_level_1847047/Bombermaaan/STDAFX.CPP -text
branches/item_amount_per_level_1847047/Bombermaaan/STDAFX.H -text
branches/item_amount_per_level_1847047/Bombermaaan/WinMain.cpp -text
branches/item_amount_per_level_1847047/RES/RES.dsp -text
branches/item_amount_per_level_1847047/RES/RES.vcproj -text
trunk/COPYING.txt -text
trunk/docs/Readme.html -text
trunk/docs/how-to-compile.txt -text
trunk/installer/HeaderImage.bmp -text
trunk/installer/HeaderImage.xcf -text
trunk/installer/InstallScript.nsi -text
trunk/src/Bombermaaan.dsw -text
trunk/src/Bombermaaan.sln -text
trunk/src/Bombermaaan/Bombermaaan.dsp -text
trunk/src/Bombermaaan/Bombermaaan.rc -text
trunk/src/Bombermaaan/Bombermaaan.vcproj -text
trunk/src/Bombermaaan/CAiArena.cpp -text
trunk/src/Bombermaaan/CAiArena.h -text
trunk/src/Bombermaaan/CAiBomber.cpp -text
trunk/src/Bombermaaan/CAiBomber.h -text
trunk/src/Bombermaaan/CAiManager.cpp -text
trunk/src/Bombermaaan/CAiManager.h -text
trunk/src/Bombermaaan/CArena.cpp -text
trunk/src/Bombermaaan/CArena.h -text
trunk/src/Bombermaaan/CArenaCloser.cpp -text
trunk/src/Bombermaaan/CArenaCloser.h -text
trunk/src/Bombermaaan/CArenaSnapshot.cpp -text
trunk/src/Bombermaaan/CArenaSnapshot.h -text
trunk/src/Bombermaaan/CBoard.cpp -text
trunk/src/Bombermaaan/CBoard.h -text
trunk/src/Bombermaaan/CBomb.cpp -text
trunk/src/Bombermaaan/CBomb.h -text
trunk/src/Bombermaaan/CBomber.cpp -text
trunk/src/Bombermaaan/CBomber.h -text
trunk/src/Bombermaaan/CBomberMove.cpp -text
trunk/src/Bombermaaan/CBomberMove.h -text
trunk/src/Bombermaaan/CClock.cpp -text
trunk/src/Bombermaaan/CClock.h -text
trunk/src/Bombermaaan/CCloudManager.cpp -text
trunk/src/Bombermaaan/CCloudManager.h -text
trunk/src/Bombermaaan/CCommandChunk.cpp -text
trunk/src/Bombermaaan/CCommandChunk.h -text
trunk/src/Bombermaaan/CConsole.cpp -text
trunk/src/Bombermaaan/CConsole.h -text
trunk/src/Bombermaaan/CControls.cpp -text
trunk/src/Bombermaaan/CControls.h -text
trunk/src/Bombermaaan/CDebug.cpp -text
trunk/src/Bombermaaan/CDebug.h -text
trunk/src/Bombermaaan/CDemo.cpp -text
trunk/src/Bombermaaan/CDemo.h -text
trunk/src/Bombermaaan/CDirectDraw.cpp -text
trunk/src/Bombermaaan/CDirectDraw.h -text
trunk/src/Bombermaaan/CDirectInput.cpp -text
trunk/src/Bombermaaan/CDirectInput.h -text
trunk/src/Bombermaaan/CDisplay.cpp -text
trunk/src/Bombermaaan/CDisplay.h -text
trunk/src/Bombermaaan/CDrawGame.cpp -text
trunk/src/Bombermaaan/CDrawGame.h -text
trunk/src/Bombermaaan/CElement.cpp -text
trunk/src/Bombermaaan/CElement.h -text
trunk/src/Bombermaaan/CExplosion.cpp -text
trunk/src/Bombermaaan/CExplosion.h -text
trunk/src/Bombermaaan/CFloor.cpp -text
trunk/src/Bombermaaan/CFloor.h -text
trunk/src/Bombermaaan/CFont.cpp -text
trunk/src/Bombermaaan/CFont.h -text
trunk/src/Bombermaaan/CGame.cpp -text
trunk/src/Bombermaaan/CGame.h -text
trunk/src/Bombermaaan/CHurryMessage.cpp -text
trunk/src/Bombermaaan/CHurryMessage.h -text
trunk/src/Bombermaaan/CInput.cpp -text
trunk/src/Bombermaaan/CInput.h -text
trunk/src/Bombermaaan/CItem.cpp -text
trunk/src/Bombermaaan/CItem.h -text
trunk/src/Bombermaaan/CLog.cpp -text
trunk/src/Bombermaaan/CLog.h -text
trunk/src/Bombermaaan/CMainInput.cpp -text
trunk/src/Bombermaaan/CMainInput.h -text
trunk/src/Bombermaaan/CMatch.cpp -text
trunk/src/Bombermaaan/CMatch.h -text
trunk/src/Bombermaaan/CMenu.cpp -text
trunk/src/Bombermaaan/CMenu.h -text
trunk/src/Bombermaaan/CMenuBase.cpp -text
trunk/src/Bombermaaan/CMenuBase.h -text
trunk/src/Bombermaaan/CMenuBomber.cpp -text
trunk/src/Bombermaaan/CMenuBomber.h -text
trunk/src/Bombermaaan/CMenuInput.cpp -text
trunk/src/Bombermaaan/CMenuInput.h -text
trunk/src/Bombermaaan/CMenuLevel.cpp -text
trunk/src/Bombermaaan/CMenuLevel.h -text
trunk/src/Bombermaaan/CMenuMatch.cpp -text
trunk/src/Bombermaaan/CMenuMatch.h -text
trunk/src/Bombermaaan/CMenuYesNo.cpp -text
trunk/src/Bombermaaan/CMenuYesNo.h -text
trunk/src/Bombermaaan/CModeScreen.cpp -text
trunk/src/Bombermaaan/CModeScreen.h -text
trunk/src/Bombermaaan/CMosaic.cpp -text
trunk/src/Bombermaaan/CMosaic.h -text
trunk/src/Bombermaaan/COptions.cpp -text
trunk/src/Bombermaaan/COptions.h -text
trunk/src/Bombermaaan/CPauseMessage.cpp -text
trunk/src/Bombermaaan/CPauseMessage.h -text
trunk/src/Bombermaaan/CPlayerInput.cpp -text
trunk/src/Bombermaaan/CPlayerInput.h -text
trunk/src/Bombermaaan/CRandomMosaic.cpp -text
trunk/src/Bombermaaan/CRandomMosaic.h -text
trunk/src/Bombermaaan/CScores.cpp -text
trunk/src/Bombermaaan/CScores.h -text
trunk/src/Bombermaaan/CScroller.cpp -text
trunk/src/Bombermaaan/CScroller.h -text
trunk/src/Bombermaaan/CSound.cpp -text
trunk/src/Bombermaaan/CSound.h -text
trunk/src/Bombermaaan/CTimer.h -text
trunk/src/Bombermaaan/CTitle.cpp -text
trunk/src/Bombermaaan/CTitle.h -text
trunk/src/Bombermaaan/CVictory.cpp -text
trunk/src/Bombermaaan/CVictory.h -text
trunk/src/Bombermaaan/CWall.cpp -text
trunk/src/Bombermaaan/CWall.h -text
trunk/src/Bombermaaan/CWindow.cpp -text
trunk/src/Bombermaaan/CWindow.h -text
trunk/src/Bombermaaan/CWinner.cpp -text
trunk/src/Bombermaaan/CWinner.h -text
trunk/src/Bombermaaan/RESOURCE.H -text
trunk/src/Bombermaaan/STDAFX.CPP -text
trunk/src/Bombermaaan/STDAFX.H -text
trunk/src/Bombermaaan/WinMain.cpp -text
trunk/src/RES/RES.dsp -text
trunk/src/RES/RES.vcproj -text
trunk/web/index.php -text
